<% include ../template/header.ejs %>
<% include ../template/nav.ejs %>

<div class="container">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-image">
        <img src="/images/uploads/<%= upload.image %>" class="img-fluid" alt="Responsive image" class="panel-image-preview" style="width: 100%; height: 100%"/>
      </div>
      <form action="/uploads/edit/<%= upload.id%>" method="post">
        <div class="panel-body">

          <div class="form-group">
            <input class="form-control" name="title" type="text" value="<%= upload.title%>" />
          </div>

          <div class="form-group">
            <textarea class="form-control" name="description" type="text" rows="3"><%= upload.description%></textarea>
          </div>

          <div class="form-group">
            <button class="btn btn-primary form-control" name="submit" type="submit">Update</button>
          </div>

        </form>
        <div class="panel-footer text-center">
          <a href="/images/<%=upload.image%>" title="Download"><span class="glyphicon glyphicon-download" style="font-size: 24px"></span></a>
          <ul class="more">
            <li title="Delete">
              <a href="/delete/<%= upload.image%>/<%= upload.id%>" class="moreLinks"><span class="glyphicon glyphicon-remove"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <style>
  .moreBtn{
    float: right;
  }
  .more{
    display: inline-block;
    float: right;
  }
  .more li{
    display: inline;
    list-style: none;
    text-align: center;
    margin: 0 10px;
  }
  
  <% include ../template/footer.ejs %>